<html>

<head>
    <title>Exercise #2: Photo Gallery </title>

    <style>
        body {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr ;
            grid-row-gap: 100px;
            grid-column-gap: 100px;

        }

        .images{
            width: 200px;
            height: 200px;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <div class="images"><img src="images2/1.jpeg" alt=""></div>
    <div class="images"><img src="images2/2.jpeg" alt=""></div>
    <div class="images"><img src="images2/3.jpeg" alt=""></div>
    <div class="images"><img src="images2/4.jpeg" alt=""></div>
    <div class="images"><img src="images2/5.jpeg" alt=""></div>
    <div class="images"><img src="images2/6.jpeg" alt=""></div>
    <div class="images"><img src="images2/7.jpeg" alt=""></div>
    <div class="images"><img src="images2/8.jpeg" alt=""></div>
    <div class="images"><img src="images2/9.jpeg" alt=""></div>
    <div class="images"><img src="images2/10.jpeg" alt=""></div>
</body>

</html>